<div>
    <div class="fixed w-1/6 h-lvh bg-[#fff] text-white">
        <img src="icon.png" alt="" class="w-[80%] mx-auto mt-4">
        <ul>
            <li><a routerLink="/home">Dashboard</a></li>
            <li><a routerLink="/members">Members</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)">Offers</a>
                <ul class="dropdown-content">
                    <li><a routerLink="/profile">Services</a></li>
                    <li><a routerLink="/preferences">Snacks</a></li>
                </ul>
            </li>
            <li><a routerLink="/logs">Logs</a></li>
        </ul>
    </div>
    <div class="ml-[17%] w-[83%] p-3">
        <router-outlet></router-outlet>
    </div>
</div>